<!doctype html>
<html lang="zh-cn">
<head>
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta charset="UTF-8" />
    <title><%=title%></title>
    <meta name="description" content="<%=description%>" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/mobile/stylesheets/swiper.css" />
    <link rel="stylesheet" href="/mobile/stylesheets/index.css" />
    <link rel="stylesheet" href="/mobile/stylesheets/markdown.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <% include common-html/title %>
    <% include common-html/nav %>
    
    <div class="container pt20 mb15">
        <div class="acn-head">
            <h1 class='acn-title'>山西青年职业学院康万林院长一行 脚跟莅临跟莅临</h1>
            <span>2013-8-12 8:00</span>
        </div>
        <div class="markdown-body">
           <p style="text-indent: 32px;line-height: 30px;">
                <span style="font-family: 微软雅黑"></span>
            </p>
            <p>
                <img src="http://www.bkh5.com/ueditor/upload/../upload/20130813/13763752078424.gif" style="float:none;" title="2611.gif"/>
            </p>
            <p style="text-indent: 32px;line-height: 30px;">
                <span style="font-family: 微软雅黑">2013年5月20日上午，西安文理学院软件学院党总支书记陈彩英书记莅临博看文思，与博看文思相关领导进行会面，深入探讨人才培养、交流合作等问题。</span>
            </p>
            <p style="text-indent: 32px;line-height: 30px;">
                <span style="font-family: 微软雅黑">安文理学院是西安市政府主办的唯一一所全日制普通本科高校，先后由五所学校合并而成。1990年，西安大学与西安师范专科学校合并为西安联合大学；2003年，经国家教育部批准，西安联合大学与西安教育学院合并更名为西安文理学院；2006年、2009年，西安幼儿师范学校和西安师范学校分别并入西安文理学院。学校位于历史文化古都西安市的国家级高新技术产业开发区，占地741亩，建筑面积35万平方米。现有藏书122余万册，教学仪器设备7000余万元。学校面向全国招生，现有全日制在校生13000余人。学校重视学科专业建设，现有文学、理学、工学、教育学、管理学、法学、历史学、农学、艺术学等9大学科门类，39个本科专业。专门史、中国古代文学、分析化学、原子与分子物理学被确定为省级重点学科，艺术设计、汉语言文学、计算机科学与技术、应用化学专业被确定为省级特色专业建设点，7门课程被评为省级精品课程，分析化学系列课程、长安历史文化系列课程教学团队被评为省级教学团队，“化学实验教学中心”获省级实验教学示范中心称号，“创意—实践型艺术设计人才培养模式”、“应用型软件服务外包人才”被授予省级人才培养模式创新实验区称号，《分子生物学》被评为省级双语教学示范课。</span>
            </p>
        </div>
    </div>
    
    <% include common-html/footer %>
 
    <script src="/mobile/javascripts/echo.js"></script>
    <script src="/mobile/javascripts/zepto.js"></script>
    <script src="/mobile/javascripts/swiper.js"></script>

    <script>
    // a=$('.nav-in').navigator();
    
    // $('.hlist-in').navigator();
    // alert(window.innerHeight)
    
    $.fn._swiper = $.fn.swiper;
    $.fn.swiper = function (opt) {
        this.each(function (i, el) {
            // 把swiper-slide-active的标签滚动到视野范围内
            opt.initialSlide = $(el).find(".swiper-slide-active").index();
            new Swiper(el, opt)
        });
        return this;
    }
    
    $('.swiper').swiper({
        slidesPerView: "auto",
        freeMode: true,
        freeModeFluid: true,
        watchActiveIndex: false
    })
    
    
    // ios7 Safari 的工具条变色动画
    if ($.os.ios && $.os.version.indexOf("7.") == 0) {
        document.documentElement.classList && 
        document.documentElement.classList.add("ios7");
    };
    </script>
</body>
</html>