<!doctype html>
<html lang="zh-cn">
<head>
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta charset="UTF-8" />
    <title>李宗亮</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/mobile/stylesheets/swiper.css" />
    <link rel="stylesheet" href="/mobile/stylesheets/index.css" />
    <link rel="stylesheet" href="/mobile/stylesheets/markdown.css" />
    <link rel="alternate" type="application/rss+xml" href="/rss.php" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <% include common-html/title %>
    <% include common-html/nav %>
    
    <div class="container pt20">
        <div class="row">
            <div class="col-xs-4 prologo">
                <a href="#" class='aps-img'>
                    <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3512Lc.jpg"></b>
                </a>
            </div>
            <div class="col-xs-8 aps-intro">
                <dl>
                    <dt>
                        <h1 class="aps-name">美食美酒</h1>
                        <span>2013.10.10</span>
                    </dt>
                     <dd class="aps-position">
                        <span>讲师: 李宗亮</span>
                        <span>学生: 哈哈哈</span>
                    </dd>
                    <dd class="aps-position mb15">
                        <span>核心技术: 页面优化,seo</span>
                    </dd>
                    <dd class="aps-btn-access">
                        <a href="###" target='_blank' class="btn-access btn-radius-l btn-blue">
                            <span>访问博客</span>
                        </a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="arc-subtitle mt15 mb10">
            <h2>项目介绍</h2>
        </div>
        <div class="markdown-body gray">
            <p>北京中古是简易的电商网站，专营服装类。北京中古是简易的电商网站，专营服装类。北京中古是简易的电商网站，专营服装类</p>
        </div>
    </div>
    <div class="arc-subtitle mt15 mb10">
        <h2>其它项目</h2>
    </div>
    <div class="hlist">
        <div class="hlist-in hlist-project swiper hlist-imgtitle">
            <ul class="swiper-wrapper">
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3512Lc.jpg"></b>
                        <span>PICOOC</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3520Y63.jpg"></b>
                        <span>美食美酒</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F41422R9.jpg"></b>
                        <span>中美商会（网站）</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F4145N44.jpg"></b>
                        <span>HTML5项目</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3512Lc.jpg"></b>
                        <span>PICOOC</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3520Y63.jpg"></b>
                        <span>美食美酒</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F41422R9.jpg"></b>
                        <span>中美商会（网站）</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F4145N44.jpg"></b>
                        <span>HTML5项目</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <% include common-html/footer %>

    
    <script src="/mobile/javascripts/echo.js"></script>
    <script src="/mobile/javascripts/zepto.js"></script>
    <script src="/mobile/javascripts/swiper.js"></script>

    <script>
    // a=$('.nav-in').navigator();
    
    // $('.hlist-in').navigator();
    // alert(window.innerHeight)
    
    $.fn._swiper = $.fn.swiper;
    $.fn.swiper = function (opt) {
        this.each(function (i, el) {
            // 把swiper-slide-active的标签滚动到视野范围内
            opt.initialSlide = $(el).find(".swiper-slide-active").index();
            new Swiper(el, opt)
        });
        return this;
    }
    
    $('.swiper').swiper({
        slidesPerView: "auto",
        freeMode: true,
        freeModeFluid: true,
        watchActiveIndex: false
    })
    
    
    // ios7 Safari 的工具条变色动画
    if ($.os.ios && $.os.version.indexOf("7.") == 0) {
        document.documentElement.classList && 
        document.documentElement.classList.add("ios7");
    };
    </script>
</body>
</html>