<!doctype html>
<html lang="zh-cn">
<head>
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta charset="UTF-8" />
    <title><%=title%></title>
    <meta name="description" content="<%=description%>" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/mobile/stylesheets/swiper.css" />
    <link rel="stylesheet" href="/mobile/stylesheets/index.css" />
    <link rel="stylesheet" href="/mobile/stylesheets/markdown.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <% include common-html/title %>
    <% include common-html/nav %>
    
    <div class="container pt10">
        <div class='pi-special '>
            <h2 class='pi-title bg-blue'>
                <a href='###'>
                    <i class='icon-monitor bg-blue-icon'></i>
                    <span>项目特效</span>
                    <i class='icon-right-open arrows bg-blue-icon'></i>
                </a>
            </h2>
            <div class="hlist mt11">
                <div class="hlist-in hlist-project swiper hlist-imgtitle">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3512Lc.jpg"></b>
                                <span>PICOOC</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3520Y63.jpg"></b>
                                <span>美食美酒</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F41422R9.jpg"></b>
                                <span>中美商会（网站）</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F4145N44.jpg"></b>
                                <span>HTML5项目</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3512Lc.jpg"></b>
                                <span>PICOOC</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3520Y63.jpg"></b>
                                <span>美食美酒</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F41422R9.jpg"></b>
                                <span>中美商会（网站）</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F4145N44.jpg"></b>
                                <span>HTML5项目</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='pi-special'>
            <h2 class='pi-title bg-orange'>
                <a href='###'>
                    <i class='icon-users bg-orange-icon'></i>
                    <span>讲师列表</span>
                    <i class='icon-right-open arrows bg-orange-icon'></i>
                </a>
            </h2>
            <div class="hlist mt11">
                <div class="hlist-in hlist-project swiper hlist-imgtitle">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3512Lc.jpg"></b>
                                <span>李宗亮</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3520Y63.jpg"></b>
                                <span>美食美酒</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F41422R9.jpg"></b>
                                <span>中美商会（网站）</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F4145N44.jpg"></b>
                                <span>HTML5项目</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3512Lc.jpg"></b>
                                <span>PICOOC</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3520Y63.jpg"></b>
                                <span>美食美酒</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F41422R9.jpg"></b>
                                <span>中美商会（网站）</span>
                            </a>
                        </li>
                        <li class="swiper-slide prologo">
                            <a href="#">
                                <b><img src="http://www.bkh5.com/uploads/131117/1-13111F4145N44.jpg"></b>
                                <span>HTML5项目</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='pi-special'>
            <h2 class='pi-title bg-purple'>
                <a href='###'>
                    <i class='icon-camera bg-purple-icon'></i>
                    <span>新闻动态</span>
                    <i class='icon-right-open arrows bg-purple-icon'></i>
                </a>
            </h2>
            <ul id="list" class="list-text list-text-default">
                <li>
                    <a href="###">
                        <span>山西青年职业学院康万林院长一行脚跟莅临</span>
                        <i class="icon-right-open"></i>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <span>山西青年职业学院康万林院长一行脚跟莅临</span>
                        <i class="icon-right-open"></i>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <span>山西青年职业学院康万林院长一行脚跟莅临</span>
                        <i class="icon-right-open"></i>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <span>山西青年职业学院康万林院长一行脚跟莅临</span>
                        <i class="icon-right-open"></i>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <span>山西青年职业学院康万林院长一行脚跟莅临</span>
                        <i class="icon-right-open"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class='pi-special'>
            <h2 class='pi-title bg-green'>
                <a href='###'>
                    <i class='icon-book bg-green-icon'></i>
                    <span>技术分享</span>
                    <i class='icon-right-open arrows bg-green-icon'></i>
                </a>
            </h2>
            <ul id="list" class="list-text list-text-default">
                <li>
                    <a href="###">
                        <span>山西青年职业学院康万林院长一行脚跟莅临</span>
                        <i class="icon-right-open"></i>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <span>山西青年职业学院康万林院长一行脚跟莅临</span>
                        <i class="icon-right-open"></i>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <span>山西青年职业学院康万林院长一行脚跟莅临</span>
                        <i class="icon-right-open"></i>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <span>山西青年职业学院康万林院长一行脚跟莅临</span>
                        <i class="icon-right-open"></i>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <span>山西青年职业学院康万林院长一行脚跟莅临</span>
                        <i class="icon-right-open"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="pi-footer bg-green">
        <h2 class='pi-title'>
            <a href='###'>
                <i class='icon-mobile bg-green-icon'></i>
                <span>联系方式</span>
            </a>
        </h2>
         <ul class="list-text list-text-share">
            <li>
                <a href="#">
                    <i class='icon-sina-weibo pi-static'></i>
                    <span>博看文思-HTML5</span>
                    <i class="icon-right-open"></i>
                </a>
            </li>
            <li>
                <a href="#">
                     <i class='icon-qq pi-static'></i>
                    <span>176902112</span>
                    <i class="icon-right-open"></i>
                </a>
            </li>
            <li>
                <a href="tel:4006-333-186">
                    <i class='icon-phone pi-static'></i>
                    <span>4006-333-186</span>
                    <i class="icon-right-open"></i>
                </a>
            </li>
            <li>
                <a href="http://ditu.google.cn/maps?hl=zh-CN&tab=wl">
                    <i class='icon-direction pi-static'></i>
                    <span>北京石景山区石景山路42号</span>
                    <i class="icon-right-open"></i>
                </a>
            </li>
        </ul>
    </div>
   
    <% include common-html/footer %>

    
    <script src="/mobile/javascripts/echo.js"></script>
    <script src="/mobile/javascripts/zepto.js"></script>
    <script src="/mobile/javascripts/swiper.js"></script>

    <script>
    // a=$('.nav-in').navigator();
    
    // $('.hlist-in').navigator();
    // alert(window.innerHeight)
    
    $.fn._swiper = $.fn.swiper;
    $.fn.swiper = function (opt) {
        this.each(function (i, el) {
            // 把swiper-slide-active的标签滚动到视野范围内
            opt.initialSlide = $(el).find(".swiper-slide-active").index();
            new Swiper(el, opt)
        });
        return this;
    }
    
    $('.swiper').swiper({
        slidesPerView: "auto",
        freeMode: true,
        freeModeFluid: true,
        watchActiveIndex: false
    })
    
    
    // ios7 Safari 的工具条变色动画
    if ($.os.ios && $.os.version.indexOf("7.") == 0) {
        document.documentElement.classList && 
        document.documentElement.classList.add("ios7");
    };
    </script>
</body>
</html>