/**
 * meta classes
 * 按理说好的架构里面不会推荐使用原子类。
 * 但是不同的项目有不同的需求。
 * 所以适合项目即可。
 * 在本项目中也不打算非常多的原子类，一些通用的会加上
 */
.pt10{
	padding-top: 10px;
}
.pt20{
	padding-top: 20px;
}
.mt15{
	margin-top: 15px;
}
.mb10{
	margin-bottom: 10px;	
}
.mb15{
	margin-bottom: 15px;	
}
.gray{
	color: @gray-color;
}