/**
 * meta classes
 * 按理说好的架构里面不会推荐使用原子类。
 * 但是不同的项目有不同的需求。
 * 所以适合项目即可。
 * 在本项目中也不打算非常多的原子类，一些通用的会加上
 */
.pt10{
	padding-top: 10px;
}
.pt20{
	padding-top: 20px;
}
.mt15{
	margin-top: 15px;
}
.mt11{
	margin-top: 11px;
}
.mb10{
	margin-bottom: 10px;	
}
.mb15{
	margin-bottom: 15px;	
}
.gray{
	color: @gray-color;
}
.bg-blue{
	background-color:#14a5ea;
	border-top: 2px solid #126ba6;
}
.bg-blue-icon{
	color:#0a78e0;	
}
.bg-orange{
	background:#f6b235;
	border-top: 2px solid #be8304;
}
.bg-orange-icon{
	color:#f28c1b;	
}
.bg-purple{
	background-color:#9b59b6;
	border-top: 2px solid #791cae;
}
.bg-purple-icon{
	color:#74369a;	
}
.bg-green{
	background-color: #00a2a5;
	border-top: 2px solid #0a7d66;
}
.bg-green-icon{
	color:#007175;
}