/**
 * page article_proShow
 * class prefix: aps
 */

.aps-name{
	line-height: 1.58823529rem;
	padding-left: 3px;
	float: left;
	font-weight: normal;
}
.aps-name+span{
	float:right;
	padding-right:10px;
	font-size: 0.8rem;
	color:@gray-color;
}
.aps-intro dl dt{
	overflow:hidden;
}
.aps-position{
	color: @gray-color;
	padding-left: 3px;
	line-height: 1.82857143rem;
}
.aps-btn-access{
	margin-bottom: 0;
}
.prologo .aps-img{
	margin:0 6px;
}
