<div class="nav">
        <div class="nav-in swiper hlist-separator">
            <ul class="swiper-wrapper">
                <li class=" swiper-slide"><a href="#">首页</a></li>
                <li class=" swiper-slide"><a href="#">开班信息</a></li>
                <li class=" swiper-slide"><a href="#">HTML5课程</a></li>
                <li class=" swiper-slide"><a href="#">项目特效</a></li>
                <li class="swiper-slide-active swiper-active swiper-slide"><a href="#">讲师列表</a></li>
                <li class=" swiper-slide"><a href="#">就业信息</a></li>
                <li class=" swiper-slide"><a href="#">学生园地</a></li>
                <li class=" swiper-slide"><a href="#">就业学员</a></li>
                <li class=" swiper-slide"><a href="#">首页</a></li>
                <li class=" swiper-slide"><a href="#">首页</a></li>
                <li class=" swiper-slide"><a href="#">首页</a></li>
                <li class=" swiper-slide"><a href="#">首页</a></li>
            </ul>
        </div>
    </div>